{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true,
                        "runtimeHelpers": true
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "babel-plugin-react-remove-properties",
                    { "properties": ["data-testid"] }
                ],
                "babel-plugin-optimize-clsx"
            ]
        }
    }
}
